html{
    background: #111827;
    color:white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
body{
    margin: 60px auto;
    width: 80%;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
   }
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: 700;
   }
   
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
   }
   
a{
    color: white;
}
nav a {
    text-decoration: none;
    font-size: 20px;
}
footer {
    border-top: 1px solid gray;
    font-size: .8em;
   }
a:hover {
    text-decoration: underline;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.25em;
}   
.posts li{
    list-style: none;
    margin: 0 10px;
    color: #00C400;
}

.posts a{
    color:#548be3;
}
